.not-logged-in.page-access-denied{
    background-color: $sf-background-gray;
}

.aloha-login{
    text-align: center;
    .image-container{
        padding-top: 120px;
        padding-bottom: 30px;

        img{
            width: 180px;
        }
    }

    .cta-container{
        .aloha-sso-button{
            width: 100%;
            height: 44px;
            line-height: 32px;

            background-color: $white;
            color: $sf-login-blue;
            border-color: $sf-login-border-color;

            &:hover{
                background-color: darken($white, 5%);
            }
        }
    }

    .error-container{
        background-color: $white;
        border: 1px solid $sf-login-border-color;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: 30px !important;
    }

    .col-centered{
        float: none;
        margin: 0 auto;
    }
}
