.asset {
  background: none;
  padding: 0;
  border: none;

  &.asset-image.asset-align-left,
  &.asset-image.asset-align-right {
    max-width: 300px;

    img {
      float: none;
    }

    @include media-mobile {
      max-width: 175px;
    }
  }

  &.asset-align-right {
    margin: 0 0 30px 30px;
  }

  &.asset-align-left {
    margin: 0 30px 30px 0;
  }

  .content {
    border: 1px $grey-1 solid;

    &.as-infographic {
      border: none;
    }
  }


  .description {
    padding: 10px;

    // HACK the editor likes
    // to add an extra <p>
    // at the end of everything
    p:last-of-type,
    p:nth-last-of-type(2) {
      margin-bottom: 0;
    }
  }
}
