.entity-bean {}

.bean-more-story-info {
  .content-example {
    margin-bottom: 15px;
    display: table;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .content-example-image {
    width: auto;
    margin-bottom: 0;
    margin-right: 10%;
  }

  .content-example-content {
   display: table-cell;
   vertical-align: middle;
   float: none;
   > h4 {
    margin-top: 0;
   }
  }
}
