.blog-title {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 25px;
}

.blog-banner {
  margin-bottom: 15px;
  @include separator-top;

  img {
    width: 100%;
  }

  .description {
    color: $grey-4;
    margin-top: 8px;
  }

  &.with-video {
    iframe {
      min-width: 100%;
      border: 0;
    }
  }
}

// Overrides for "Related Blog" Block
.view-id-stick_posts_list.view-display-id-block_1 {
    .node-blogpost--more-stories {
        .blog-banner {
            width: 100%;
            display: block;
            float: none;
            > h3 {
                display: none;
            }
        }
        .blog-information {
            display: block;
            width: 100%;
            float: none;
        }
    }
}
.blog-information {
  @include separator;
}

.blog-content {
  @include separator;
  padding-bottom: 30px;
  margin-top: 30px;
  @include clearfix;
}

.blog-image-grid {
  @include clearfix;

  img {
    padding: 10px;

    @include media-tablet-and-bigger {
      width: 33.33%;
      float: left;

      &:nth-of-type(3n+1) {
        clear: left;
      }

      &:hover {
        transform: scale(1.5);
        transform-origin: center;
      }
    }

    @include media-mobile {
      margin: 0 auto;
    }
  }
}

.blog-rollup {
  margin: 30px auto;
}

.blog-addendum {
  background: $grey-1;
  padding: 30px;
  margin: 30px auto;

  .callout {
    font-size: 125%;
  }

  .cta {
    margin-top: 30px;
    text-align: center;

    a {
      background: $fun;
      color: white;
      font-weight: 600;
      padding: 20px;
    }
  }
}

.blog-categories a:before {
  content: '#';
}

.blog-tags a:not(:last-of-type):after {
  content: ','
}


// Blog List and teaser content
.view-blog-list {
  margin: 30px auto;
}

.node-blogpost--teaser {
  @include clearfix;
  @include separator;
  padding-bottom: 16px;
  margin: 16px auto 0;

  .blog-banner,
  .blog-information {
    border: none;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .blog-banner {
    @include media-tablet-and-bigger {
      width: 25%;
      padding-right: 15px;
      float: left;
    }
    @include media-mobile {
      width: 60%;
      margin: 0 auto;
    }
  }

  .blog-information {
    @include media-tablet-and-bigger {
      float: right;
      width: 75%;
    }
  }

  .blog-title {
    margin-top: 0;
  }
}


.node-blogpost--sticky-list,
.node-blogpost--more-stories {
  @include clearfix;
  margin: 16px auto 0;
}

.node-blogpost--sticky-list {
  .blog-banner,
  .blog-information {
    border: none;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .blog-title {
    font-size: 16px;
    font-weight: 500;
    margin: 5px auto;
  }

  .blog-categories {
    color: $grey-3;
    font-size: 14px;
  }
}

.node-blogpost--more-stories {
  display: table;

  .blog-banner,
  .blog-information {
    border: none;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: table-cell;
  }

  .blog-banner {
    margin: 0 15px 0 0;
    float: left;
  }

  .blog-information {
    width: 63%;
    vertical-align: middle;
  }

  .blog-title {
    font-size: 16px;
    font-weight: 500;
    margin: 5px auto;
  }
}

.mobile-back-container{
    display: none;
}

@include media-mobile {
    .mobile-back-container{
        display: block;
    }
}
