.horizontal-rule {
  width: 85%;
  height: 1px;
  margin: 55px auto;
  background-color: $grey-1;
}

.fullwidth-horizontal-rule {
  width: 100%;
  height: 1px;
  margin-top: 8px 0;
  background-color: $grey-1;
}

@mixin separator($color: $grey-1) {
  border-bottom: 1px $color solid;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

@mixin separator-top($color: $grey-1) {
  border-top: 1px $color solid;
  padding-top: 8px;
  margin-top: 8px;
}

.quote-marks {
  color: $sf-blue;
}
