.content-examples {}

.content-example {
  margin: 0 auto 30px;
  @include clearfix;
}

.content-example-image {
  margin: 0 auto 15px;

  @include media-tablet-and-bigger {
    float: left;
    width: 38%;
    margin-right: 2%;
  }

  img {
    width: 100%;
  }
}

.content-example-content {
  @include media-tablet-and-bigger {
    width: 60%;
    float: left;
  }
}
