/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';
$grid-columns: 16;

// Ohana colours

$white: #fff;
$black: #000;

$sf-blue:       #009ddc;
$sf-blue-1:     #00a1e0;
$sf-blue-light: #04b7ff;
$sf-blue-dark:  #003644;
$sf-blue-faded: #7998ac;
$orange:        #f9a12e;

$trust:         #123FB5;
$cust-success:  #00B2A9;
$innovation:    #001871;
$giving-back:   #5BC1C0;
$equality:      #963CBD;
$wellness:      #84bd00;
$transparency:  #00C2DF;
$fun:           #ED8B00;
$growth:        #FFB60F;

$sf-background-gray:    #F7F9FB;
$sf-login-border-color: #D8DDE6;
$sf-login-blue:         #0070D2;


$grey-1: #dedede;
$grey-2: #d3d3d3;
$grey-3: darken(#d3d3d3, 20%);
$grey-4: darken(#d3d3d3, 40%);

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$sans-serif: $font-family-sans-serif;

$brand-primary:         $sf-blue;
$link-color:            $sf-blue;
$link-hover-color:      $sf-blue-light;
$link-hover-decoration: none;

$navbar-border-radius: 0;

$screen-xs: 550px;
$screen-sm: 720px;
$screen-md: 1024px;
