// Open Sans
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i';


// Salesforce Sans
$ss-fontpath: '../assets/fonts/';

// Regular / 400
@font-face {
  font-family: 'SalesforceSans';
  src: url($ss-fontpath + 'SalesforceSans-Regular.eot');
  src: url($ss-fontpath + 'SalesforceSans-Regular.eot?#iefix') format('embedded-opentype'),
     url($ss-fontpath + 'SalesforceSans-Regular.woff') format('woff'),
     url($ss-fontpath + 'SalesforceSans-Regular.woff2') format('woff2'),
     url($ss-fontpath + 'SalesforceSans-Regular.ttf') format('truetype'),
     url($ss-fontpath + 'SalesforceSans-Regular.svg#SalesforceSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Regular / 400 Italic
@font-face {
  font-family: 'SalesforceSans';
  src: url($ss-fontpath + 'SalesforceSans-Italic.eot');
  src: url($ss-fontpath + 'SalesforceSans-Italic.eot?#iefix') format('embedded-opentype'),
     url($ss-fontpath + 'SalesforceSans-Italic.woff') format('woff'),
     url($ss-fontpath + 'SalesforceSans-Italic.woff2') format('woff2'),
     url($ss-fontpath + 'SalesforceSans-Italic.ttf') format('truetype'),
     url($ss-fontpath + 'SalesforceSans-Italic.svg#SalesforceSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

// Bold
@font-face {
  font-family: 'SalesforceSans';
  src: url($ss-fontpath + 'SalesforceSans-Bold.eot');
  src: url($ss-fontpath + 'SalesforceSans-Bold.eot?#iefix') format('embedded-opentype'),
     url($ss-fontpath + 'SalesforceSans-Bold.woff') format('woff'),
     url($ss-fontpath + 'SalesforceSans-Bold.woff2') format('woff2'),
     url($ss-fontpath + 'SalesforceSans-Bold.ttf') format('truetype'),
     url($ss-fontpath + 'SalesforceSans-Bold.svg#SalesforceSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

// Bold Italic
@font-face {
  font-family: 'SalesforceSans';
  src: url($ss-fontpath + 'SalesforceSans-BoldItalic.eot');
  src: url($ss-fontpath + 'SalesforceSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
     url($ss-fontpath + 'SalesforceSans-BoldItalic.woff') format('woff'),
     url($ss-fontpath + 'SalesforceSans-BoldItalic.woff2') format('woff2'),
     url($ss-fontpath + 'SalesforceSans-BoldItalic.ttf') format('truetype'),
     url($ss-fontpath + 'SalesforceSans-BoldItalic.svg#SalesforceSansBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

// Light / 300
@font-face {
  font-family: 'SalesforceSans';
  src: url($ss-fontpath + 'SalesforceSans-Light.eot');
  src: url($ss-fontpath + 'SalesforceSans-Light.eot?#iefix') format('embedded-opentype'),
     url($ss-fontpath + 'SalesforceSans-Light.woff') format('woff'),
     url($ss-fontpath + 'SalesforceSans-Light.woff2') format('woff2'),
     url($ss-fontpath + 'SalesforceSans-Light.ttf') format('truetype'),
     url($ss-fontpath + 'SalesforceSans-Light.svg#SalesforceSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

// Light / 300 Italic
@font-face {
  font-family: 'SalesforceSansLightItalic';
  src: url($ss-fontpath + 'SalesforceSans-LightItalic.eot');
  src: url($ss-fontpath + 'SalesforceSans-LightItalic.eot?#iefix') format('embedded-opentype'),
     url($ss-fontpath + 'SalesforceSans-LightItalic.woff') format('woff'),
     url($ss-fontpath + 'SalesforceSans-LightItalic.woff2') format('woff2'),
     url($ss-fontpath + 'SalesforceSans-LightItalic.ttf') format('truetype'),
     url($ss-fontpath + 'SalesforceSans-LightItalic.svg#SalesforceSansLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

// Thin / 200
@font-face {
  font-family: 'SalesforceSans';
  src: url($ss-fontpath + 'SalesforceSans-Thin.eot');
  src: url($ss-fontpath + 'SalesforceSans-Thin.eot?#iefix') format('embedded-opentype'),
     url($ss-fontpath + 'SalesforceSans-Thin.woff') format('woff'),
     url($ss-fontpath + 'SalesforceSans-Thin.woff2') format('woff2'),
     url($ss-fontpath + 'SalesforceSans-Thin.ttf') format('truetype'),
     url($ss-fontpath + 'SalesforceSans-Thin.svg#SalesforceSansThin') format('svg');
  font-weight: 200;
  font-style: normal;
}

// Thin / 200 Italic
@font-face {
  font-family: 'SalesforceSans';
  src: url($ss-fontpath + 'SalesforceSans-ThinItalic.eot');
  src: url($ss-fontpath + 'SalesforceSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
     url($ss-fontpath + 'SalesforceSans-ThinItalic.woff') format('woff'),
     url($ss-fontpath + 'SalesforceSans-ThinItalic.woff2') format('woff2'),
     url($ss-fontpath + 'SalesforceSans-ThinItalic.ttf') format('truetype'),
     url($ss-fontpath + 'SalesforceSans-ThinItalic.svg#SalesforceSansThinItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}
