.footer {
  img {
    display: block;
    margin: 0 auto 30px;
    height: auto;
  }

  .menu {
    text-align: center;

    &> li {
      display: inline-block;
    }

    li {
      &:after {
        content: '|';
        display: inline-block;
        color: $sf-blue-dark;
        padding: 0 5px;
      }

      &:last-of-type:after {
        content: '';
      }
    }

    a {
      font-size: 13px;
      line-height: 27px;
      padding: 0;
      color: $sf-blue-dark;
      display: inline-block;

      &:hover {
        background: none;
        color: $sf-blue;
      }
    }
  }
}
