// taxonomy terms affect the color of the navigation bar
@mixin assign-taxonomy-menu-colors($tax, $link: $white, $link-hover: darken($tax, 30%)) {
  .navigation-container {
    a {
      color: $link-color;

      &:hover,
      &:focus {
          background-color: lighten(black, 60%);
        color: $white;
      }
    }

      li.active {
          background-color: $tax;
          a {
              color: $link;
              &:hover,
              &:focus {
                  background: $tax;
                  color: $link;
              }
          }
      }
    //li:after {
    //  color: lighten(black, 10%);
    //}
  }
}

body.page-taxonomy-term-trust,
body.page-taxonomy-term-1 {
  @include assign-taxonomy-menu-colors($trust);
}

body.page-taxonomy-term-customer-success,
body.page-taxonomy-term-2 {
  @include assign-taxonomy-menu-colors($cust-success);
}

body.page-taxonomy-term-innovation,
body.page-taxonomy-term-3 {
  @include assign-taxonomy-menu-colors($innovation);
}

body.page-taxonomy-term-giving-back,
body.page-taxonomy-term-4 {
  @include assign-taxonomy-menu-colors($giving-back);
}

body.page-taxonomy-term-equality,
body.page-taxonomy-term-5 {
  @include assign-taxonomy-menu-colors($equality);
}

body.page-taxonomy-term-wellbeing,
body.page-taxonomy-term-6 {
  @include assign-taxonomy-menu-colors($wellness);
}

body.page-taxonomy-term-transparency,
body.page-taxonomy-term-7 {
  @include assign-taxonomy-menu-colors($transparency);
}

body.page-taxonomy-term-fun,
body.page-taxonomy-term-8 {
  @include assign-taxonomy-menu-colors($fun, white, lighten($fun, 40%));
}

body.page-taxonomy-term-growth,
body.page-taxonomy-term-61 {
    @include assign-taxonomy-menu-colors($growth, white, lighten($growth, 40%));
}

body.front,
body.page-blog {
    @include assign-taxonomy-menu-colors($link-color);
}
