.navbar.container,
.navbar.container-fluid {
  background-size: cover;
  background-position: center center;
  height: 200px;

  @include media-tablet {
    height: 120px;
  }
}

.navbar {
  border: none;
  margin-bottom: 0;
}

.container,
.container-fluid {
  > .navbar-header {
    margin-right: auto;
    margin-left: auto;
  }
}

.navbar-header {
  max-width: 1024px;
  margin: 0 auto;
  float: none;
  height: 100%;

  .navbar-banner-copy {
    display: table;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 44px;

    @include media-desktop-and-bigger {
      padding-left: 0;
    }

    h1, .foreground-img {
      display: table-cell;
    }

    h1 {
      color: $white;
      font-size: 60px;
      font-family: 'SalesforceSans';
      font-weight: 200;
      vertical-align: middle;

      @include media-desktop-and-bigger {
        padding-right: 20px;
      }

      @include media-tablet {
        font-size: 45px;
      }

      @include media-mobile {
        font-size: 30px;
      }
    }

    .foreground-img {
      display: none;
      vertical-align: bottom;

      @include media-desktop-and-bigger {
        display: table-cell;
      }

      img {
        width: 252px;
        height: auto;
      }
    }
  }

  // Only visible in mobile
  .navbar-toggle {
    margin-top: 42px;
    background-color: white;
  }
}

.navigation-container {
  max-width: $container-large-desktop;
  background-color: $grey-1;
  margin: 0 auto;

  .navbar-nav {
    @include media-tablet-and-bigger {
      float: none;
      text-align: center;

      &> li {
        float: none;
        display: inline-block;
      }

      li {
        a {
          display: inline-block;
            padding: 15px;
        }

        //&:after {
        //  content: '|';
        //  display: inline-block;
        //  padding: 0 5px;
        //  color: $sf-blue-1;
        //}
        //
        //  &.active:after {
        //      padding: 0 10px;
        //      content: '';
        //  }
        //&:last-of-type:after {
        //  content: '';
        //}
      }
    }

    @include media-mobile {
      margin: 10px 0;
    }

    // HACK heavy nesting required here
    a {
      color: $sf-blue-1;
      font-size: 13px;

      @include media-tablet-and-bigger {
        padding-left: 0px;
        padding-right: 0px;
      }

      &:hover,
      &:focus {
        color: $sf-blue-light;
        background: none;
      }
    }
  }
}
