.home {
  font-size: 18px;
  line-height: 1.5;
  margin: 30px 0 90px;

  h2, h3, h4, p {
    font-weight: 300;
  }
}

.home-introduction {
  @include media-tablet-and-bigger {
    @include clearfix;

    img {
      float: right;
      width: 40%;
      margin-top: 50px;
    }

    .intro-content {
      float: left;
      width: 50%;
    }

    h2 {
      margin-top: 0;
    }
  }

  @include media-tablet {
    img {
      padding: 50px 50px 0 50px;
    }
  }

  blockquote {
    margin-bottom: 10px;
  }

  cite {
    font-style: normal;

    &:before {
      content: '\2014';
    }
  }
}

.home-closing {
  text-align: center;

  .btn {
    @include dark-button;
  }
}
