@mixin media-mobile {
  @media screen and (max-width: $screen-xs-max) {
    @content;
  }
}

@mixin media-tablet {
  @media screen and (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin media-desktop {
  @media screen and (max-width: $screen-md-max) {
    @content;
  }
}

@mixin media-mobile-and-bigger {
  @media screen and (min-width: $screen-xs) {
    @content;
  }
}

@mixin media-tablet-and-bigger {
  @media screen and (min-width: $screen-sm) {
    @content;
  }
}

@mixin media-desktop-and-bigger {
  @media screen and (min-width: $screen-md) {
    @content;
  }
}

// Button styles
@mixin dark-button {
  background-color: $sf-blue-dark;
  padding: 15px;
  color: white;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: white;
    background-color: darken($sf-blue-dark, 15%);
  }
}
