// HACK heavy nesting required to override
.pagination > li > a,
.pagination > li > span {
  margin: 0 3px;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover {
  background: $gray-lighter;
}

.pagination > .active > a,
.pagination > .active > span {
  background: lighten($grey-1, 8.5%);
  color: $link-color;
}

.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span:hover {
  background: lighten($grey-1, 10%);
  color: $link-color;
}

.pagination .ajax-progress.ajax-progress-throbber {
	margin-left: 10px;
}
