.region-sidebar-second {
  margin: 30px auto;

  .block {}

  .block-title {
    color: $grey-3;
    font-size: 16px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid $grey-3;
  }
}

.block-ohana-sidebar {
  .social-media-link {
    display: inline;
    color: $grey-3;
    font-size: 2em;

    &:hover,
    &:focus {
      color: $sf-blue;
    }
  }

  .snapwidget-widget {
    height: 400px;
    width: 100%;
    border: 0;
    overflow: hidden;

    @include media-mobile {
      width: 200px;
      height: 380px;
    }
  }
}
