$tab-height: 470px;
$tab-height-tablet: 491px;

.home-category-tabs {
  width: 100%;
  margin: 60px auto;
  @include clearfix;
}

.tab-legend {
  margin: 0;
  padding: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid $grey-3;

  @include media-tablet-and-bigger {
    width: 20%;
    float: left;

    li {
        position: relative;
      border-left: 50px solid;
      background: $gray-lighter;
      padding: 15px 5px 15px 10px;
      color: $grey-3;
      font-size: 14px;
      cursor: pointer;
      border-bottom: 1px solid $grey-3;

        &:before {
            position: absolute;
            height: 50px;
            width: 50px;
            display: block;
            content: '';
            color: $white;
            top: 0;
            left: -50px;
            background: no-repeat center;
            background-size: 40px;
        }

      &:hover {
        // border-left-width: 6px;
        background: white;
      }

      &.active {
        background: white;
        border-bottom-width: 2px;
      }
    }

    .trust {
      border-left-color: $trust;
        &:before {
            background-image: url('../assets/values-white/trust.png');
        }
    }
    .cust-success {
      border-left-color: $cust-success;
        &:before {
            background-image: url('../assets/values-white/customer-success.png');
        }
    }
    .innovation {
      border-left-color: $innovation;
        &:before {
            background-image: url('../assets/values-white/innovation.png');
        }
    }
    .giving-back {
      border-left-color: $giving-back;
        &:before {
            background-image: url('../assets/values-white/giving-back.png');
        }
    }
    .equality {
      border-left-color: $equality;
        &:before {
            background-image: url('../assets/values-white/equality.png');
        }
    }
    .wellbeing {
      border-left-color: $wellness;
        &:before {
            background-image: url('../assets/values-white/wellbeing.png');
        }
    }
    .transparency {
      border-left-color: $transparency;
        &:before {
            background-image: url('../assets/values-white/transparency.png');
        }
    }
    .fun {
      border-left-color: $fun;
        &:before {
            background-image: url('../assets/values-white/fun.png');
        }
    }
      .growth {
          border-left-color: $growth;
          &:before {
              background-image: url('../assets/values-white/growth.png');
          }
      }
  }

  @include media-mobile {
    display: none;
  }
}

.tab-content-container {
  border-color: $grey-3;
  border-style: solid;
  border-width: 1px 0;

  @include media-tablet-and-bigger {
    width: 80%;
    height: $tab-height;
    float: left;
    position: relative;
  }

  @include media-tablet {
    font-size: 90%;
     min-height: $tab-height-tablet;
  }
}

.tab-content {
  @include clearfix;
  .btn {
    @include dark-button;
  }

  @include media-tablet-and-bigger {
    padding: 10px 24px;
    height: $tab-height;
    border-style: solid;
    border-width: 0 2px 0 0;

    &[data-subject="trust"] {
      border-right-color: $trust;
    }
   &[data-subject="cust-success"] {
      border-right-color: $cust-success;
    }
    &[data-subject="innovation"] {
      border-right-color: $innovation;
    }
    &[data-subject="giving-back"] {
      border-right-color: $giving-back;
    }
    &[data-subject="equality"] {
      border-right-color: $equality;
    }
    &[data-subject="wellness"] {
      border-right-color: $wellness;
    }
    &[data-subject="transparency"] {
      border-right-color: $transparency;
    }
    &[data-subject="fun"] {
      border-right-color: $fun;
    }
      &[data-subject="growth"] {
          border-right-color: $growth;
      }


    &.tab-hidden {
      display: none;
    }

    img {
      float: right;
      width: 40%;
    }

    .content-body {
      float: left;
      width: 60%;
      padding-right: 15px;
    }
  }

    @include media-tablet {
        height: auto;
        padding-top: 50px;
        background: no-repeat 0 10px;
        background-size: 50px;

        &[data-subject="trust"] {
            background-image: url('../assets/values-color/trust.png');
        }
        &[data-subject="cust-success"] {
            border-right-color: $cust-success;
            background-image: url('../assets/values-color/customer-success.png');
        }
        &[data-subject="innovation"] {
            border-right-color: $innovation;
            background-image: url('../assets/values-color/innovation.png');
        }
        &[data-subject="giving-back"] {
            background-image: url('../assets/values-color/giving-back.png');
        }
        &[data-subject="equality"] {
            background-image: url('../assets/values-color/equality.png');
        }
        &[data-subject="wellbeing"] {
            border-right-color: $wellness;
            background-image: url('../assets/values-color/wellbeing.png');
        }
        &[data-subject="transparency"] {
            border-right-color: $transparency;
            background-image: url('../assets/values-color/transparency.png');
        }
        &[data-subject="fun"] {
            background-image: url('../assets/values-color/fun.png');
        }
        &[data-subject="growth"] {
            background-image: url('../assets/values-color/growth.png');
        }

    }

  @include media-mobile {
    margin-bottom: 30px;

    h2 {
      font-size: 20px;
      margin: 10px auto;
    }

    img {
      display: none;
    }
  }
}
