.taxonomy-term {
  font-size: 18px;
  line-height: 1.5;
    margin-bottom: 40px;

  h2, h3, h4, p {
    font-weight: 300;
  }

  .taxonomy-cta .btn {
    color: white;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: white;
    }
  }
}

.vocabulary-ohana-categories {
  margin: 50px auto;
  padding-bottom: 80px;
  border-bottom: 3px solid;
}

.taxonomy-introduction {
  margin-bottom: 30px;

  img {
    margin: 0 auto;
  }

  @include media-tablet-and-bigger {
    @include clearfix;

    img {
      float: right;
      width: 38%;
    }

    .intro-content {
      float: left;
      width: 60%;
    }

    h2 {
      margin-top: 0;
    }
  }
}

.taxonomy-examples {
  .content-example-content {
    font-size: 16px;

    blockquote {
      font-size: 18px;
    }
  }
}

.taxonomy-cta {
  .cta-link {
    margin-top: 30px;
  }
}

.taxonomy-additional-info {}


// all the terms have different colors
@mixin assign-taxonomy-color($color) {
  border-color: $color;

  .taxonomy-cta .btn {
    background-color: $color;

    &:hover,
    &:focus {
      background-color: darken($color, 15%);
    }
  }
}

.term-trust {
  @include assign-taxonomy-color($trust);
}

.term-customer-success {
  @include assign-taxonomy-color($cust-success);
}

.term-innovation {
  @include assign-taxonomy-color($innovation);
}

.term-giving-back {
  @include assign-taxonomy-color($giving-back);
}

.term-equality,
.term-equality-for-all {
  @include assign-taxonomy-color($equality);
}

.term-wellbeing {
  @include assign-taxonomy-color($wellness);
}

.term-transparency {
  @include assign-taxonomy-color($transparency);
}

.term-fun {
  @include assign-taxonomy-color($fun);
}

.term-growth {
    @include assign-taxonomy-color($growth);
}
