body {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: $sans-serif;
  color: $sf-blue-dark;
}

.content {
  h2 {
    font-size: 30px;
    margin-bottom: 25px;
  }

  h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  // TODO find when this happens-
  .shell {
    h2 {
      font-size: 30px;
      line-height: 30px;
    }
  }
}

blockquote,
.quote {
  font-size: 30px;
  border-left: 0;
  padding: 0;
}


.content .shell {
  border-bottom: 3px solid;
  padding: 0;
}
