$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

.beacon_theme {

	.ohana-tags {
		display:none;
	}

	.beacon-sidebar-tags {
		

		.taxonomy-term {
			display:inline-block;
			margin:0px;
		}
		h2 {
			display:inline-block;
			font-size:18px;
			margin:0px;
		}
	}
	@media #{$desktop } {
		/*homepage top section*/
		.list {

		}
		.list-1 {
			.top-row {
				width: 49%;
				padding:1%;
				display:inline-block;

				div.node-blogpost--teaser {
					border:none;
					position:relative;
				}


				&.views-row-first {
					width:100%;
					display:inline-block;
					float:none !important;

					div.blog-information {
						position: absolute;
					    z-index: 1;
					    width: 100%;
					    margin-left:0px;
					    background-color:#666666;
					    left:0px;
					    opacity:0.9;
					    padding:10px;
					    
					    @media #{$tablet} {
					    	bottom:10px;
					    }

					    @media #{$desktop} {
					    	bottom:16px;
					    }
					    .blog-title a {
							font-size:100%;
							color:white;

							@media #{$tablet} {
						    	font-size:85%;
						    }
						}

						.pull-right {
							margin-bottom: 10px;
						}

						> p {
							color:white;
						}


					}

					


					.hover-in {
						color:#7c868d ;
					}

					.gen-text {
						
						display: inline-flex;
				        max-width: 30%;
					    margin: 12px !important;
					    padding-top:0px;
					    vertical-align: text-bottom;
					    font-size:125%;
					    
					}

					div.node-blogpost--teaser {
					    display: inline-table;
					    max-width: 65%;


					    div.blog-banner {
							padding-right:0px;
							width:100%;
							opacity:1;
							background-color: white;
							 -webkit-transition: opacity 0.5s; 
						    transition: opacity 0.5s;

						    div.blog-img {
								position:relative;
								
								.date-tags2 {
								    display:none;
								}


							}

							div.pull-right {
							    position: absolute;
							    top: 10px;
							    right: 0px;
							    padding: 5px 15px;
							    background-color: #666666;
							    opacity: 0.9;

							    a {
							    	color:white;
							    	font-weight:bold;
							    }
							}
						}
					}
				}

				&:not(.views-row-first) {

					float:left;
					.hover-in {
						color:#7c868d !important;
					}

					div.node-blogpost--teaser {
						display:flex;
						width:100%;
						max-width:100% !important;
						flex-direction: column-reverse;
					}

					.blog-title {
						line-height:75%;
					}

					div.blog-information .pull-right {
					    position: absolute;
					    top: 10px;
					    right: 30px;
					    background-color:#666666;
					    opacity:.9;
					    color:white;

					    .label-tags {
				    	    padding: 5px 15px;
						    background-color: #666;
					    }
					    a {
					    	color:white;
					    	background-color:#666;
					    	font-weight:bold;
					    }
						
					}

					.date-tags {
						display:none;
					}

					div.blog-banner {
						padding-right:0px;
						width:100%;
						max-height: 200px;
						opacity:1;
						background-color: white;
						 -webkit-transition: opacity 0.5s; 
					    transition: opacity 0.5s;

					    div.blog-img {
							position:relative;
							
							.date-tags2 {
							    position: absolute;
							    bottom: 0px;
							    padding: 5px 15px;
							    background-color: #666666;
							    opacity: .9;
							    color: white;
							}
						}

						img {
							max-height: 200px;
						}

						div.pull-right {
						    position: absolute;
						    top: 10px;
						    right: 0px;
						    padding: 5px 15px;
						    background-color: #666666;
						    opacity: .9;

						    a {
						    	color:white;
						    	font-weight:bold;
						    }
						}
					}
				}

				div.blog-information {
				    z-index: 1;
				    width: 90%;
					

					div.blog-banner {
					    position: relative;
					    z-index: 0;
					    width: 100%;
					}
					> p {
						color: #003644;
					}

					.blog-title a {
						font-size:65%;
						font-weight:bold;
					}

					div.field-items {
						display:none;
					}
				}

					

				div.blog-banner:hover {
					
				}


			}
		}
		

		.feed-icon {
			display:none;
		}

		.list-block {
			display:inline-block;
		}

		
		/*post*/
		.beacon-author {
			margin:none;

			div.field {
				display: inline-block;
				padding-left: 10px;
			}
		}

		.highlighted_content {
		    max-width: 40%;
		    margin-left: auto;
		    margin-right: 30px;
		    padding: 10px;
		    background-color: #00A1E1;
		    float:right;
		    margin-bottom:15px;

		    a {
		    }

		    audio {
	    	    max-width: 100%;
			    margin: 10px 0px 0px 0px;
		    }

		    ul {
		    	color: #009ddc;
		    }
		}

		/*homepage menu*/
		.signal-top-menu {
		    background-color: transparent;

		    .navbar-brand {
				display:none;
			}

		    .navbar-nav {
		    	float:none !important;
		    	margin-left:auto;
		    	margin-right:auto;
		    	max-width:75%;
		    }

			ul {
				background-color:#00A1E1;
				text-align: center;
			}
			.menu .leaf, .menu .expanded {
				display:inline-block;
				padding: 0px 24px;
				color:white;
				&:hover, a:hover {
					background-color:#f2f2f2;
					color:#00A1E1;
				}

				a {
					color:white;

				}

				&.active {
					/*background-color:white;*/
					a {
						color:white;
						font-weight:bold;
					}
					font-weight:bold;

					&:hover, a:hover {
						background-color:#f2f2f2;
						color:#00A1E1;
					}
				}
			}

			
		}

		.content-width {
			max-width:100%;

			.date-tags2 {
				display:none;
			}

			.beacon-tags {
				display:none;
			}

			.ohana-tags {
				display:inline-block;
			}
		}

		.content-width.industry {
			max-width:67% !important;
		}

		.right-side {
			float:right;
			display:inline-block;
		}

		.main-container ul.menu.nav {
			/*background-color:#003c4d;*/
		}

		/*sidebar tags section*/
		.tag-list {
			h2 {

			}
		}

		/*Misc items - General Badge*/
		.blog-information .label.label-primary{
			background-color: #003c4d;

			a {
				color:white;
			}
		}

		.blog-information > p {
		    display: inline-block;
		}

		.cat-title {
		}

		.industries-menu {
		    text-align: center;

		    ul {
		    	width:100%;

		    	.leaf, .expanded  {
		    		background-color: #ddd;
				    font-size: 110%;
				    margin-top: 5px;
				    font-weight: bold;
				    border-radius: 5px;
		    	}
		    }


		}

		.post-industries-menu {
			margin-bottom:10px;
		}
	}

	@media #{$tablet } {
		/*homepage top section*/
		.list-1 {
			.top-row {
				width: 50%;
				padding:1%;
				display:inline-block;

				div.node-blogpost--teaser {
					border:none;
					position:relative;
				}


				&.views-row-first {
					width:100%;
					display:inline-block;
					float:none !important;

					div.blog-information {
						position: absolute;
					    z-index: 1;
					    width: 100%;
					    margin-left:0px;
					    background-color:#666666;
					    left:0px;
					    opacity:0.9;
					    padding:10px;
					    
					    @media #{$tablet} {
					    	bottom:10px;
					    }

					    @media #{$desktop} {
					    	bottom:16px;
					    }
					    .blog-title a {
							font-size:100%;
							color:white;

							@media #{$tablet} {
						    	font-size:85%;
						    }
						}

						.pull-right {
							margin-bottom: 10px;
						}

						> p {
							color:white;
						}


					}

					


					.hover-in {
						color:#7c868d ;
					}

					.gen-text {
						
						display: inline-block;
				        max-width: 30%;
					    margin-left: 20px !important;
					    vertical-align: middle;
					    font-size:125%;

					}

					div.node-blogpost--teaser {
						vertical-align:middle;
					    display: inline-block;
					    max-width: 65%;


					    div.blog-banner {
							padding-right:0px;
							width:100%;
							opacity:1;
							background-color: white;
							 -webkit-transition: opacity 0.5s; 
						    transition: opacity 0.5s;

						    div.blog-img {
								position:relative;
								
								.date-tags2 {
								    display:none;
								}


							}

							div.pull-right {
							    position: absolute;
							    top: 10px;
							    right: 0px;
							    padding: 5px 15px;
							    background-color: #666666;
							    opacity: .9;

							    a {
							    	color:white;
							    	font-weight:bold;
							    }
							}
						}
					}
				}

				&:not(.views-row-first) {

					float:left;
					.hover-in {
						color:#7c868d !important;
					}

					div.node-blogpost--teaser {
						display:flex;
						width:100%;
						max-width:100% !important;
						flex-direction: column-reverse;
					}

					.blog-title {
						line-height:75%;
					}

					div.blog-information .pull-right {
					    position: absolute;
					    top: 10px;
					    right: 0px;
					    background-color:#666666;
					    opacity:.9;
					    color:white;

					    .label-tags {
				    	    padding: 5px 15px;
						    background-color: #666;
					    }
					    a {
					    	color:white;
					    	background-color:#666;
					    	font-weight:bold;
					    }
						
					}

					.date-tags {
						display:none;
					}

					div.blog-banner {
						padding-right:0px;
						width:100%;
						opacity:1;
						background-color: white;
						 -webkit-transition: opacity 0.5s; 
					    transition: opacity 0.5s;

					    div.blog-img {
							position:relative;
							
							.date-tags2 {
							    position: absolute;
							    bottom: 0px;
							    padding: 5px 15px;
							    background-color: #666666;
							    opacity: .9;
							    color: white;
							}
						}

						img {
							max-height: 200px;
						    max-width: 300px;
						}

						div.pull-right {
						    position: absolute;
						    top: 10px;
						    right: 0px;
						    padding: 5px 15px;
						    background-color: #666666;
						    opacity: .9;

						    a {
						    	color:white;
						    	font-weight:bold;
						    }
						}
					}
				}

				div.blog-information {
				    z-index: 1;
				    width: 90%;
					

					div.blog-banner {
					    position: relative;
					    z-index: 0;
					    width: 100%;
					}
					> p {
						color: #003644;
					}

					.blog-title a {
						font-size:65%;
						font-weight:bold;
					}

					div.field-items {
						display:none;
					}
				}

					

				div.blog-banner:hover {
					opacity:.9;
				}


			}
		}
		

		.feed-icon {
			display:none;
		}

		.list-block {
			display:inline-block;
		}

		/*post*/
		.beacon-author {
			margin:none;

			div.field {
				display: inline-block;
				padding-left: 10px;
			}
		}

		.highlighted_content {
		    max-width: 100%;
		    margin-left: auto;
		    margin-right: 30px;
		    padding: 10px;
		    background-color: #00A1E1;
		    float:right;

		    a {
		    }

		    audio {
	    	    max-width: 100%;
			    margin: 10px 0px 0px 0px;
		    }
		    ul {
		    	color: #009ddc;
		    }
		}
			
		/*homepage menu*/
		.signal-top-menu {
			.navbar-brand {
				display:none;
			}
			ul {
				background-color:#00A1E1;
				text-align: center;
			}
			.menu .leaf, .menu .expanded  {
				display:inline-block;
				padding: 0px 12px;
				color:white;
				&:hover, a:hover {
					background-color:#f2f2f2;
					color:#00A1E1;
				}

				a {
					color:white;
					font-size:90%;
				}

				&.active {
					/*background-color:white;*/
					a {
						color:white;
						font-weight:bold;
					}
					font-weight:bold;

					&:hover, a:hover {
						background-color:#f2f2f2;
						color:#00A1E1;
					}
				}
			}

			
		}

		.content-width {
			max-width:100%;

			.date-tags2 {
				display:none;
			}

			.beacon-tags {
				display:none;
			}

			.ohana-tags {
				display:inline-block;
			}
		}
		.right-side {
			float:right;
			display:inline-block;
		    margin-left: 0px !important;
		    width: 32.5%;
		}

		.main-container ul.menu.nav {
			/*background-color:#003c4d;*/
		}

		/*sidebar tags section*/
		.tag-list {
			h2 {

			}
		}

		/*Misc items - General Badge*/
		.blog-information .label.label-primary{
			background-color: #003c4d;

			a {
				color:white;
			}
		}

		.blog-information > p {
		    display: inline-block;
		}

		.cat-title {
		}
	}

	@media #{$mobile } {
		/*homepage top section*/
		.list {

		}

		hr {
			margin-bottom: 55px;
		}

		.navbar.container {
			background-position: center;
		}

		.list-1 {
			.top-row {
				width: 99%;
				padding:1%;
				display:inline-block;

				div.node-blogpost--teaser {
					border:none;
					position:relative;
				}


				&.views-row-first {
					div.node-blogpost--teaser {
						padding-bottom:0px;
						margin-top: 0px;
					}
				}

				&:not(.views-row-first1) {

					float:left;
					.hover-in {
						color:#7c868d !important;
					}

					div.node-blogpost--teaser {
						display:flex;
						width:100%;
						max-width:100% !important;
						flex-direction: column-reverse;
					}

					.blog-title {
						line-height:75%;
					}

					div.blog-information .pull-right {
					    position: absolute;
					    top: 10px;
					    right: 0px;
					    background-color:#666666;
					    opacity:.9;
					    color:white;

					    .label-tags {
				    	    padding: 5px 15px;
						    background-color: #666;
					    }
					    a {
					    	color:white;
					    	background-color:#666;
					    	font-weight:bold;
					    }
						
					}

					.date-tags {
						display:none;
					}

					div.blog-banner {
						padding-right:0px;
						width:100%;
						opacity:1;
						background-color: white;
						 -webkit-transition: opacity 0.5s; 
					    transition: opacity 0.5s;

					    div.blog-img {
							position:relative;
							
							.date-tags2 {
							    position: absolute;
							    bottom: 0px;
							    padding: 5px 15px;
							    background-color: #666666;
							    opacity: .9;
							    color: white;
							}
						}

						img {
							
						}

						div.pull-right {
						    position: absolute;
						    top: 10px;
						    right: 0px;
						    padding: 5px 15px;
						    background-color: #666666;
						    opacity: .9;

						    a {
						    	color:white;
						    	font-weight:bold;
						    }
						}
					}
				}

				div.blog-information {
				    z-index: 1;
				    width: 90%;
					

					div.blog-banner {
					    position: relative;
					    z-index: 0;
					    width: 100%;
					}
					> p {
						color: #003644;
					}

					.blog-title a {
						font-size:65%;
						font-weight:bold;
					}

					div.field-items {
						display:none;
					}
				}

					

				div.blog-banner:hover {
					opacity:.9;
				}


			}
		}
		

		.feed-icon {
			display:none;
		}

		.list-block {
			display:inline-block;
		
		}

		.navbar-default {
			background-color:transparent;

			button {
				float:right;
				background-color:#eee;
			}

			.navbar-header .navbar-toggle {
				margin-top:10px;
				margin-right:0px;
			}
		}

		.beacon-author {
			margin:none;

			div.field {
				display: inline-block;
				padding-left: 10px;
			}
		}

		.highlighted_content {
		    max-width: 100%;
		    margin-left: auto;
		    margin-right: 30px;
		    padding: 10px;
		    background-color: #00A1E1;
		    float:right;

		    a {
		    }

		    audio {
	    	    max-width: 100%;
			    margin: 10px 0px 0px 0px;
		    }

		    ul {
		    	color: #009ddc;
		    }
		}
			
		/*homepage menu*/
		.signal-top-menu {

			.navbar-brand img{
				max-height:25px;
				vertical-align: middle;
				display: inline-block;
			}

			ul {
				background-color:#00A1E1;
			}
			.menu .leaf, .menu .expanded  {
				display:inline-block;
				padding: 0px;
				width:100%;
				text-align: center;
				color:white;
				&:hover, a:hover {
					background-color:#f2f2f2;
					color:#00A1E1;
				}

				a {
					color:white;
				}

				&.active {
					a {
						color:white;
						font-weight:bold;
						background-color:#00A1E1;
					}
					font-weight:bold;

					&:hover, a:hover {
						background-color:#f2f2f2;
						color:#00A1E1;
					}
				}
			}

			
		}

		.content-width {
			max-width:100%;

			.date-tags2 {
				display:none;
			}

			.beacon-tags {
				display:none;
			}

			.ohana-tags {
				display:inline-block;
			}
		}

		.right-side {
			float:right;
			display:inline-block;
			margin-top:36px;
		}

		.main-container ul.menu.nav {
			/*background-color:#003c4d;*/
		}

		/*sidebar tags section*/
		.tag-list {
			h2 {

			}
		}

		/*Misc items - General Badge*/
		.blog-information .label.label-primary{
			background-color: #003c4d;

			a {
				color:white;
			}
		}

		.blog-information > p {
		    display: inline-block;
		}

		.cat-title {
		}
	}

	#audio2 span span {
	    height:100px !important;
	    width:inherit !important;
	}

	.highlighted_content {
		background-color: #ddd !important;
	    border-radius: 5px;
		a {
			text-decoration: none;
			font-size:85%;
		}

		.more-resources {
			color:#003644 !important;
			text-align: center;

		}
		
	}

	.blog-banner.with-video span span {
		width: inherit !important;
	}
}

.beacon_theme .navbar > .container-fluid {
		.navbar-collapse {
			padding:0px 0px;
		}
		.navbar-header {
			height: 200px;
		    max-width: 100%;
		    background-size:cover !important;

		    background: url('../assets/zoneplaceholderv4.png');

		    @media #{$mobile} {
			    /*background-position: -337px 180px;*/
			    height:180px;
		    }
		}
		    
    

}
