@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Droid+Sans");
.compact-form-label {
  left: 17px;
  z-index: 1;
  font-size: 100%; }

body:not(.semantic-ui) form input.form-submit {
  background: #eee;
  border: 1px solid #ccc;
  padding: 5px 10px 6px 10px;
  border-radius: 3px;
  transition: all .2s ease-in-out;
  margin-top: 5px; }
  body:not(.semantic-ui) form input.form-submit:hover, body:not(.semantic-ui) form input.form-submit:focus {
    background: #666;
    color: white;
    border-color: #222; }

body:not(.semantic-ui) form .description {
  font-size: 80%;
  color: #6C6C6C;
  font-style: italic;
  padding: 0 10px;
  margin: 10px 0;
  border-left: dotted 1px #aaa;
  max-width: 600px; }

body:not(.semantic-ui) .ui.segment {
  box-shadow: none;
  border: 0;
  padding: 1em 0; }

body:not(.semantic-ui) #breadcrumbs .chevron {
  margin-right: 10px; }
  body:not(.semantic-ui) #breadcrumbs .chevron:before {
    content: ">";
    padding: 0 8px;
    color: #261D19; }

.ui.form .form-item.labeled {
  padding-top: 1.2em;
  margin-bottom: 1em !important;
  position: relative; }
  .ui.form .form-item.labeled:first-child {
    margin-top: -1.2em; }
  .ui.form .form-item.labeled label {
    position: absolute;
    top: 2.3em;
    padding: 0;
    transition: all .2s ease-in-out;
    cursor: text;
    color: #888; }
    .ui.form .form-item.labeled label.active {
      top: 2px;
      font-size: 85%;
      color: #728EAD; }
      .ui.form .form-item.labeled label.active.error {
        color: #FF6A40 !important; }
  .ui.form .form-item.labeled input {
    max-width: 30em;
    border-radius: 0;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #888;
    padding: .7em  0;
    margin-bottom: .3em;
    -webkit-text-fill-color: transparent; }
    .ui.form .form-item.labeled input:focus, .ui.form .form-item.labeled input.valued {
      background: transparent;
      -webkit-text-fill-color: #261D19; }
    .ui.form .form-item.labeled input.error {
      border-bottom-color: #FF6A40;
      -webkit-text-fill-color: #261D19 !important; }
  .ui.form .form-item.labeled .mt {
    width: 100%;
    position: relative;
    max-width: 30em; }
    .ui.form .form-item.labeled .mt:before, .ui.form .form-item.labeled .mt:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 5px;
      position: absolute;
      background: #728EAD;
      transition: 0.2s all ease-in-out; }
    .ui.form .form-item.labeled .mt.error:before, .ui.form .form-item.labeled .mt.error:after {
      background: #FF6A40; }
    .ui.form .form-item.labeled .mt:before {
      left: 50%; }
    .ui.form .form-item.labeled .mt:after {
      right: 50%; }
    .ui.form .form-item.labeled .mt.focus:before, .ui.form .form-item.labeled .mt.focus:after {
      width: 50%; }

.ui.form input.ui.button[type="submit"] {
  margin-top: 0.5em; }

label {
  color: #888;
  padding: 0 0 5px 0;
  display: block;
  font-size: 90%; }

.ui.dropdown {
  color: #555; }
  .ui.dropdown .text {
    font-size: 14px; }
  .ui.dropdown .default.text {
    color: #888; }

.ui.checkbox,
.ui.radio.checkbox {
  margin-right: 15px; }
  .ui.checkbox label,
  .ui.radio.checkbox label {
    padding-left: 1.5em;
    color: #555; }

::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: #eaeaea;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

::-moz-placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: #eaeaea;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

:-ms-input-placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: #eaeaea;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

::placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: #eaeaea;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

:focus::-webkit-input-placeholder {
  opacity: .5; }

:focus::-moz-placeholder {
  opacity: .5; }

:focus:-ms-input-placeholder {
  opacity: .5; }

:focus::placeholder {
  opacity: .5; }

.wrapper {
  min-width: 320px; }

.field-collection-view {
  margin: 0; }

.admin-menu .wrapper--header {
  position: relative; }

.admin-menu .wrapper--main {
  padding-top: 0; }

.panels-ipe ul.panels-ipe-linkbar {
  padding: 0;
  margin: 0; }
  .panels-ipe ul.panels-ipe-linkbar li {
    display: inline;
    list-style-type: none; }

body.semantic-ui:not(.panels-ipe) .ui {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }
  body.semantic-ui:not(.panels-ipe) .ui .field > label {
    font-size: 100%; }
  body.semantic-ui:not(.panels-ipe) .ui.popup {
    padding: 10px; }

body.semantic-ui:not(.panels-ipe) .ui.link.menu .item:hover,
body.semantic-ui:not(.panels-ipe) .ui.menu .dropdown.item:hover,
body.semantic-ui:not(.panels-ipe) .ui.menu .link.item:hover,
body.semantic-ui:not(.panels-ipe) .ui.menu a.item:hover,
body.semantic-ui:not(.panels-ipe) .ui.link.menu .item:focus,
body.semantic-ui:not(.panels-ipe) .ui.menu .dropdown.item:focus,
body.semantic-ui:not(.panels-ipe) .ui.menu .link.item:focus,
body.semantic-ui:not(.panels-ipe) .ui.menu a.item:focus {
  color: #728EAD; }

body.semantic-ui:not(.panels-ipe) #content .ui.fluid.input > input {
  width: auto !important; }

.sidebar {
  font-size: 90%; }

body.semantic-ui:not(.panels-ipe) .ui.form,
body.semantic-ui:not(.panels-ipe) .ui.search-form {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  padding: 0; }
  body.semantic-ui:not(.panels-ipe) .ui.form .form-wrapper:not(.form-actions),
  body.semantic-ui:not(.panels-ipe) .ui.search-form .form-wrapper:not(.form-actions) {
    border-radius: 0.285714rem;
    margin: .5em 0;
    display: inline-block;
    width: 100%; }
    body.semantic-ui:not(.panels-ipe) .ui.form .form-wrapper:not(.form-actions) .form-wrapper,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .form-wrapper:not(.form-actions) .form-wrapper {
      padding: 10px 0; }
    body.semantic-ui:not(.panels-ipe) .ui.form .form-wrapper:not(.form-actions) legend,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .form-wrapper:not(.form-actions) legend {
      margin: 5px 0 20px 0;
      float: left;
      clear: both; }
    body.semantic-ui:not(.panels-ipe) .ui.form .form-wrapper:not(.form-actions) .fieldset-description,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .form-wrapper:not(.form-actions) .fieldset-description {
      clear: both; }
  body.semantic-ui:not(.panels-ipe) .ui.form input,
  body.semantic-ui:not(.panels-ipe) .ui.search-form input {
    font-family: "Helvetica Neue", Helvetica, sans-serif; }
  body.semantic-ui:not(.panels-ipe) .ui.form .form-item,
  body.semantic-ui:not(.panels-ipe) .ui.form fieldset,
  body.semantic-ui:not(.panels-ipe) .ui.search-form .form-item,
  body.semantic-ui:not(.panels-ipe) .ui.search-form fieldset {
    position: relative;
    margin: 5px 0;
    display: block;
    clear: both; }
    body.semantic-ui:not(.panels-ipe) .ui.form .form-item input, body.semantic-ui:not(.panels-ipe) .ui.form .form-item .form-select,
    body.semantic-ui:not(.panels-ipe) .ui.form fieldset input,
    body.semantic-ui:not(.panels-ipe) .ui.form fieldset .form-select,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .form-item input,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .form-item .form-select,
    body.semantic-ui:not(.panels-ipe) .ui.search-form fieldset input,
    body.semantic-ui:not(.panels-ipe) .ui.search-form fieldset .form-select {
      max-width: 30em; }
  body.semantic-ui:not(.panels-ipe) .ui.form legend,
  body.semantic-ui:not(.panels-ipe) .ui.search-form legend {
    margin-left: 0; }
  body.semantic-ui:not(.panels-ipe) .ui.form .description,
  body.semantic-ui:not(.panels-ipe) .ui.search-form .description {
    font-size: 80%;
    color: #261D19;
    font-style: italic;
    padding: 0 10px;
    margin: 10px 0;
    border-left: dotted 1px #aaa;
    max-width: 38em; }
  body.semantic-ui:not(.panels-ipe) .ui.form details summary,
  body.semantic-ui:not(.panels-ipe) .ui.search-form details summary {
    cursor: pointer;
    font-size: 90%;
    color: #888;
    outline: 0; }
    body.semantic-ui:not(.panels-ipe) .ui.form details summary::-webkit-details-marker,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary::-webkit-details-marker {
      display: none; }
    body.semantic-ui:not(.panels-ipe) .ui.form details summary[aria-expanded="true"]:before,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary[aria-expanded="true"]:before {
      display: inline-block;
      opacity: 1;
      margin: 0em 0.25rem 0em 0em;
      width: 1.18em;
      height: 1em;
      font-family: 'Icons';
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      text-align: center;
      speak: none;
      font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      font: Icons;
      color: #728EAD;
      content: "";
      transition: color .2s ease-in-out; }
    body.semantic-ui:not(.panels-ipe) .ui.form details summary[aria-expanded="true"]:hover:before, body.semantic-ui:not(.panels-ipe) .ui.form details summary[aria-expanded="true"]:focus:before,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary[aria-expanded="true"]:hover:before,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary[aria-expanded="true"]:focus:before {
      color: #577495; }
    body.semantic-ui:not(.panels-ipe) .ui.form details summary[aria-expanded="false"]:before,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary[aria-expanded="false"]:before {
      display: inline-block;
      opacity: 1;
      margin: 0em 0.25rem 0em 0em;
      width: 1.18em;
      height: 1em;
      font-family: 'Icons';
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      text-align: center;
      speak: none;
      font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      font: Icons;
      color: #728EAD;
      content: "";
      transition: color .2s ease-in-out; }
    body.semantic-ui:not(.panels-ipe) .ui.form details summary[aria-expanded="false"]:hover:before, body.semantic-ui:not(.panels-ipe) .ui.form details summary[aria-expanded="false"]:focus:before,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary[aria-expanded="false"]:hover:before,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary[aria-expanded="false"]:focus:before {
      color: #577495; }
    body.semantic-ui:not(.panels-ipe) .ui.form details summary:hover, body.semantic-ui:not(.panels-ipe) .ui.form details summary:focus,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary:hover,
    body.semantic-ui:not(.panels-ipe) .ui.search-form details summary:focus {
      color: #577495; }
  body.semantic-ui:not(.panels-ipe) .ui.form details .form-item,
  body.semantic-ui:not(.panels-ipe) .ui.search-form details .form-item {
    padding: 0 1em;
    margin: 1em 0;
    border-left: 1px dotted #aaa; }
  body.semantic-ui:not(.panels-ipe) .ui.form .ui.dropdown .menu > .item,
  body.semantic-ui:not(.panels-ipe) .ui.search-form .ui.dropdown .menu > .item {
    font-size: 14px;
    padding-left: 1.1em !important; }
  body.semantic-ui:not(.panels-ipe) .ui.form .ui.dropdown > input.search,
  body.semantic-ui:not(.panels-ipe) .ui.search-form .ui.dropdown > input.search {
    z-index: 10; }
  body.semantic-ui:not(.panels-ipe) .ui.form.segment,
  body.semantic-ui:not(.panels-ipe) .ui.search-form.segment {
    border: 0;
    margin: 0;
    box-shadow: none; }
  body.semantic-ui:not(.panels-ipe) .ui.form .views-exposed-form,
  body.semantic-ui:not(.panels-ipe) .ui.search-form .views-exposed-form {
    position: relative; }
    body.semantic-ui:not(.panels-ipe) .ui.form .views-exposed-form .views-exposed-widgets,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .views-exposed-form .views-exposed-widgets {
      transition: opacity .2s ease-in-out; }
    body.semantic-ui:not(.panels-ipe) .ui.form .views-exposed-form.ajaxx .views-exposed-widgets,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .views-exposed-form.ajaxx .views-exposed-widgets {
      opacity: .2; }
      body.semantic-ui:not(.panels-ipe) .ui.form .views-exposed-form.ajaxx .views-exposed-widgets,
      body.semantic-ui:not(.panels-ipe) .ui.search-form .views-exposed-form.ajaxx .views-exposed-widgets {
        opacity: 0; }
  body.semantic-ui:not(.panels-ipe) .ui.form .hidden-submit,
  body.semantic-ui:not(.panels-ipe) .ui.search-form .hidden-submit {
    position: absolute;
    width: 100%;
    top: 0;
    float: none;
    margin: 0;
    display: block; }
  body.semantic-ui:not(.panels-ipe) .ui.form .ui.loading,
  body.semantic-ui:not(.panels-ipe) .ui.search-form .ui.loading {
    top: -70px !important; }
  body.semantic-ui:not(.panels-ipe) .ui.form .ui.button,
  body.semantic-ui:not(.panels-ipe) .ui.search-form .ui.button {
    font-weight: normal;
    text-shadow: 1px 1px 0 black, 1px 1px 0 rgba(0, 0, 0, 0.9);
    opacity: 0.9;
    font-size: 15px;
    background: #728EAD;
    color: white;
    transition: background .2s ease-in-out; }
    body.semantic-ui:not(.panels-ipe) .ui.form .ui.button:hover, body.semantic-ui:not(.panels-ipe) .ui.form .ui.button:focus,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .ui.button:hover,
    body.semantic-ui:not(.panels-ipe) .ui.search-form .ui.button:focus {
      background: #445b75; }

.ui.cards {
  margin: 0; }

.ui.cards > .card {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .ui.cards > .card:before, .ui.cards > .card:after {
    content: '';
    display: table; }
  .ui.cards > .card:after {
    clear: both; }
  .ui.cards > .card:last-child {
    margin-right: 0%; }
  .ui.cards > .card:first-child {
    margin-left: auto; }
  .ui.cards > .card:last-child {
    margin-right: auto; }

body:not(.semantic-ui) .wrapper .ui {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

.table-ui-container {
  overflow-y: auto;
  _overflow: auto;
  margin: 0;
  position: relative; }

table.ui {
  min-width: 650px;
  margin-bottom: 30px !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Sans", sans-serif;
  font-weight: normal; }

header:not(.site-header) {
  color: #261D19;
  font-family: "Droid Sans", sans-serif;
  font-size: 120%;
  margin-bottom: 10px; }

h1, h1:last-child {
  font-size: 4rem;
  margin: 0.67em 0px; }

h2, h2:last-child {
  font-size: 2.5rem;
  margin: 3rem 0 2rem 0; }

h3, h3:last-child {
  font-size: 2rem;
  margin: 2.5rem 0 1rem 0; }

h4, h4:last-child {
  font-size: 1.5rem; }

h5, h5:last-child {
  font-size: 1.2rem; }

img {
  max-width: 100%;
  height: 100%; }

.ui.button {
  font-weight: normal; }

i.icon, i.icons {
  font-size: 1.5em; }

.ui.popup {
  font-size: 90%;
  color: #555; }

.wrapper--footer {
  border-top: 1px solid #dedede; }

.site-footer {
  background: #555;
  color: #fff; }
  .site-footer .region-footer {
    padding-top: 30px;
    padding-bottom: 30px; }

#footer {
  background: transparent;
  border: 0; }
  #footer .block-menu {
    float: left;
    margin: 0 50px 0 0; }
  #footer ul {
    margin: 0;
    padding: 0; }
    #footer ul li {
      list-style-type: none; }
      #footer ul li a {
        color: white; }
        #footer ul li a:hover {
          color: blue; }
        #footer ul li a:active {
          color: blue; }
        #footer ul li a:focus {
          color: blue; }

.wrapper--header {
  position: fixed;
  width: 100%;
  -webkit-filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
  filter: url(../images/shadow.svg#drop-shadow);
  filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=180);
  background: #f5f5f5;
  z-index: 999;
  transition: all .3s ease-in-out;
  height: 55px;
  padding-top: 10px;
  padding-bottom: 10px; }
  .wrapper--header .site-header__logo {
    opacity: 1;
    transition: opacity .2s ease-in-out;
    overflow: hidden;
    float: left;
    margin-right: -60px; }
    .wrapper--header .site-header__logo img {
      width: 40%;
      transition: width .3s ease-in-out; }
  .wrapper--header #header .block-search input.form-text,
  .wrapper--header #header .block-views input.form-text {
    padding: .4em 1em;
    font-size: 14px; }

#header {
  position: relative;
  height: 100%;
  border: 0; }
  #header .site-header__logo {
    max-width: 120px; }
    #header .site-header__logo img {
      display: block; }
  #header .region-header {
    height: 100%; }
  #header .region-navigation {
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0; }
  #header .block-search,
  #header .block-views {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all .2s ease-in-out;
    right: 130px; }
    #header .block-search input.form-text,
    #header .block-views input.form-text {
      transition: width .2s ease-in-out;
      width: 100px !important; }
      #header .block-search input.form-text:focus,
      #header .block-views input.form-text:focus {
        width: 250px !important; }
    #header .block-search.focus,
    #header .block-views.focus {
      top: 16px;
      left: -20px;
      padding: 15px 15px 13px;
      background: rgba(0, 0, 0, 0.7);
      margin: 0 20px; }
  #header a.loginpopup {
    position: absolute;
    top: 8px;
    font-size: 12px;
    right: 5em;
    color: #261D19; }
    #header a.loginpopup:hover {
      color: #728EAD; }
    #header a.loginpopup:active {
      color: #728EAD; }
    #header a.loginpopup:focus {
      color: #728EAD; }

.wrapper--main {
  padding-top: 55px; }

.region-navigation {
  left: 160px;
  transition: left .3s ease-in-out; }
  .region-navigation nav.main-menu,
  .region-navigation .block__system-main-menu {
    outline: 0;
    margin: 0; }
    .region-navigation nav.main-menu .nolink,
    .region-navigation .block__system-main-menu .nolink {
      cursor: pointer; }
    .region-navigation nav.main-menu ul.menu,
    .region-navigation .block__system-main-menu ul.menu {
      padding: 0;
      margin: 5px 0; }
    .region-navigation nav.main-menu .main-menu__link,
    .region-navigation nav.main-menu .menu .parent .main-menu__link,
    .region-navigation .block__system-main-menu .main-menu__link,
    .region-navigation .block__system-main-menu .menu .parent .main-menu__link {
      font-family: 'Droid Sans', sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      padding: 8px 12px;
      transition: all .2s ease-in-out;
      border-radius: 6px;
      font-size: 14px; }
      .region-navigation nav.main-menu .main-menu__link:hover, .region-navigation nav.main-menu .main-menu__link:focus, .region-navigation nav.main-menu .main-menu__link.active,
      .region-navigation nav.main-menu .menu .parent .main-menu__link:hover,
      .region-navigation nav.main-menu .menu .parent .main-menu__link:focus,
      .region-navigation nav.main-menu .menu .parent .main-menu__link.active,
      .region-navigation .block__system-main-menu .main-menu__link:hover,
      .region-navigation .block__system-main-menu .main-menu__link:focus,
      .region-navigation .block__system-main-menu .main-menu__link.active,
      .region-navigation .block__system-main-menu .menu .parent .main-menu__link:hover,
      .region-navigation .block__system-main-menu .menu .parent .main-menu__link:focus,
      .region-navigation .block__system-main-menu .menu .parent .main-menu__link.active {
        background: #261D19;
        color: white;
        text-decoration: none; }
    .region-navigation nav.main-menu .main-menu--level-one > li,
    .region-navigation .block__system-main-menu .main-menu--level-one > li {
      padding: 20px 0; }
      .region-navigation nav.main-menu .main-menu--level-one > li:hover .main-menu--level-two,
      .region-navigation .block__system-main-menu .main-menu--level-one > li:hover .main-menu--level-two {
        top: 60px;
        opacity: .9; }
    .region-navigation nav.main-menu .main-menu--level-one li.parent:after,
    .region-navigation .block__system-main-menu .main-menu--level-one li.parent:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid dark;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 0;
      transition: all .2s ease-in-out;
      opacity: 0; }
    .region-navigation nav.main-menu .main-menu--level-one li.parent:hover:after,
    .region-navigation .block__system-main-menu .main-menu--level-one li.parent:hover:after {
      opacity: .8;
      bottom: 10px; }
    .region-navigation nav.main-menu .main-menu--level-one li.parent ul.menu,
    .region-navigation .block__system-main-menu .main-menu--level-one li.parent ul.menu {
      border-radius: 8px;
      background: #555;
      border: 0; }
      .region-navigation nav.main-menu .main-menu--level-one li.parent ul.menu li,
      .region-navigation .block__system-main-menu .main-menu--level-one li.parent ul.menu li {
        margin-bottom: 8px;
        padding: 0 10px;
        display: block; }
        .region-navigation nav.main-menu .main-menu--level-one li.parent ul.menu li a,
        .region-navigation .block__system-main-menu .main-menu--level-one li.parent ul.menu li a {
          color: white;
          padding: 5px 0; }
          .region-navigation nav.main-menu .main-menu--level-one li.parent ul.menu li a:hover,
          .region-navigation .block__system-main-menu .main-menu--level-one li.parent ul.menu li a:hover {
            color: white; }
          .region-navigation nav.main-menu .main-menu--level-one li.parent ul.menu li a:active,
          .region-navigation .block__system-main-menu .main-menu--level-one li.parent ul.menu li a:active {
            color: white; }
          .region-navigation nav.main-menu .main-menu--level-one li.parent ul.menu li a:focus,
          .region-navigation .block__system-main-menu .main-menu--level-one li.parent ul.menu li a:focus {
            color: white; }
        .region-navigation nav.main-menu .main-menu--level-one li.parent ul.menu li:last-child,
        .region-navigation .block__system-main-menu .main-menu--level-one li.parent ul.menu li:last-child {
          margin-bottom: 0; }
      .region-navigation nav.main-menu .main-menu--level-one li.parent ul.menu .main-menu__link,
      .region-navigation .block__system-main-menu .main-menu--level-one li.parent ul.menu .main-menu__link {
        text-transform: initial;
        margin-bottom: 0; }
        .region-navigation nav.main-menu .main-menu--level-one li.parent ul.menu .main-menu__link:hover, .region-navigation nav.main-menu .main-menu--level-one li.parent ul.menu .main-menu__link:focus, .region-navigation nav.main-menu .main-menu--level-one li.parent ul.menu .main-menu__link.active,
        .region-navigation .block__system-main-menu .main-menu--level-one li.parent ul.menu .main-menu__link:hover,
        .region-navigation .block__system-main-menu .main-menu--level-one li.parent ul.menu .main-menu__link:focus,
        .region-navigation .block__system-main-menu .main-menu--level-one li.parent ul.menu .main-menu__link.active {
          background: transparent;
          text-decoration: underline; }
        .region-navigation nav.main-menu .main-menu--level-one li.parent ul.menu .main-menu__link:after,
        .region-navigation .block__system-main-menu .main-menu--level-one li.parent ul.menu .main-menu__link:after {
          display: none; }
    .region-navigation nav.main-menu .main-menu--level-two,
    .region-navigation .block__system-main-menu .main-menu--level-two {
      top: 60px;
      transition: all .2s ease-in-out;
      opacity: 0; }
      .region-navigation nav.main-menu .main-menu--level-two a,
      .region-navigation .block__system-main-menu .main-menu--level-two a {
        position: relative; }
      .region-navigation nav.main-menu .main-menu--level-two li.parent > a:after,
      .region-navigation nav.main-menu .main-menu--level-two li.parent:hover > a:after,
      .region-navigation .block__system-main-menu .main-menu--level-two li.parent > a:after,
      .region-navigation .block__system-main-menu .main-menu--level-two li.parent:hover > a:after {
        content: "";
        height: 0;
        width: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid white;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: -5px;
        bottom: 0;
        left: inherit;
        margin: 3px 0 0 0;
        display: inline-block !important;
        opacity: 1 !important; }
      .region-navigation nav.main-menu .main-menu--level-two li.parent:after,
      .region-navigation .block__system-main-menu .main-menu--level-two li.parent:after {
        display: none; }
    .region-navigation nav.main-menu .main-menu--level-three,
    .region-navigation .block__system-main-menu .main-menu--level-three {
      top: -10px; }

.compressed .region-navigation {
  left: 90px; }

#mobile-nav {
  position: absolute;
  right: 0;
  top: -15px; }
  #mobile-nav.hidden {
    display: none; }
  #mobile-nav #mobile-button.on span {
    background: transparent; }
    #mobile-nav #mobile-button.on span:before, #mobile-nav #mobile-button.on span:after {
      top: 0; }
    #mobile-nav #mobile-button.on span:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    #mobile-nav #mobile-button.on span:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }

body.sidr-open #header #sidr-wrapper-0 {
  margin-left: 0;
  position: relative;
  left: auto;
  top: auto; }

.sidr-animating .wrapper--header {
  position: absolute; }

.region-navigation .main-menu.mobile ul.main-menu--level-one,
.region-navigation .block__system-main-menu.mobile ul.main-menu--level-one {
  position: absolute;
  top: 25px;
  right: 15px;
  background: white;
  border-radius: 4px;
  width: 200px !important;
  padding: 10px !important;
  box-shadow: 0 0 5px #999;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  position: absolute !important;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }
  .region-navigation .main-menu.mobile ul.main-menu--level-one:before,
  .region-navigation .block__system-main-menu.mobile ul.main-menu--level-one:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid dark;
    position: absolute;
    right: 7px;
    top: -8px; }
  .region-navigation .main-menu.mobile ul.main-menu--level-one li,
  .region-navigation .block__system-main-menu.mobile ul.main-menu--level-one li {
    clear: both;
    display: block;
    padding: 0; }
    .region-navigation .main-menu.mobile ul.main-menu--level-one li:after,
    .region-navigation .block__system-main-menu.mobile ul.main-menu--level-one li:after {
      display: none !important; }
    .region-navigation .main-menu.mobile ul.main-menu--level-one li a,
    .region-navigation .block__system-main-menu.mobile ul.main-menu--level-one li a {
      background: transparent !important;
      transition: none; }
      .region-navigation .main-menu.mobile ul.main-menu--level-one li a:hover, .region-navigation .main-menu.mobile ul.main-menu--level-one li a:focus, .region-navigation .main-menu.mobile ul.main-menu--level-one li a.active,
      .region-navigation .block__system-main-menu.mobile ul.main-menu--level-one li a:hover,
      .region-navigation .block__system-main-menu.mobile ul.main-menu--level-one li a:focus,
      .region-navigation .block__system-main-menu.mobile ul.main-menu--level-one li a.active {
        color: blue !important;
        text-decoration: none; }
  .region-navigation .main-menu.mobile ul.main-menu--level-one.show,
  .region-navigation .block__system-main-menu.mobile ul.main-menu--level-one.show {
    position: static !important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
    position: absolute !important;
    opacity: 1;
    overflow: visible; }
  .region-navigation .main-menu.mobile ul.main-menu--level-one ul.main-menu--level-two,
  .region-navigation .main-menu.mobile ul.main-menu--level-one .parent:hover .menu,
  .region-navigation .block__system-main-menu.mobile ul.main-menu--level-one ul.main-menu--level-two,
  .region-navigation .block__system-main-menu.mobile ul.main-menu--level-one .parent:hover .menu {
    position: static !important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
    position: relative;
    border: 0;
    top: 0;
    opacity: 1;
    min-width: auto;
    padding: 0 0 0 25px;
    background: transparent; }
    .region-navigation .main-menu.mobile ul.main-menu--level-one ul.main-menu--level-two li a,
    .region-navigation .main-menu.mobile ul.main-menu--level-one .parent:hover .menu li a,
    .region-navigation .block__system-main-menu.mobile ul.main-menu--level-one ul.main-menu--level-two li a,
    .region-navigation .block__system-main-menu.mobile ul.main-menu--level-one .parent:hover .menu li a {
      text-transform: none;
      color: #261D19; }

.pager-wrapper {
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 50px;
  margin: 10px 0 0 0; }

.ui.pagination.menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

nav.ui.breadcrumb {
  padding: 20px 0;
  color: #555; }
  nav.ui.breadcrumb a, nav.ui.breadcrumb span, nav.ui.breadcrumb i {
    font-size: 90%; }
  nav.ui.breadcrumb .divider,
  nav.ui.breadcrumb span {
    color: #555; }
  nav.ui.breadcrumb a {
    color: #728EAD; }
    nav.ui.breadcrumb a:hover {
      color: #518cce; }
    nav.ui.breadcrumb a:active {
      color: white; }
    nav.ui.breadcrumb a:focus {
      color: white; }
  nav.ui.breadcrumb i:last-child {
    display: none; }

#primary-tabs,
#secondary-tabs {
  margin: 1em 0; }
  #primary-tabs .reset-appearance,
  #secondary-tabs .reset-appearance {
    position: absolute !important;
    height: 0;
    width: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); }
  #primary-tabs ul,
  #secondary-tabs ul {
    margin: 0;
    padding: 0; }
  #primary-tabs a,
  #secondary-tabs a {
    margin: 0 1em 0 0; }
    #primary-tabs a.active,
    #secondary-tabs a.active {
      color: #0c1014 !important; }

.panel-pane {
  margin-bottom: 30px; }

.panel-display .left,
.panel-display .right {
  padding: 0; }

@media (min-width: 50em){
  .ui.cards > .card{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 32%;
    margin-left: 0%;
    margin-right: 2%; }
  .ui.cards > .card:before, .ui.cards > .card:after{
    content: '';
    display: table; }
  .ui.cards > .card:after{
    clear: both; }
  .ui.cards > .card:nth-child(3n){
    margin-right: 0%;
    float: right; }
  .ui.cards > .card:nth-child(3n + 1){
    clear: both; }
  .wrapper--header{
    height: 105px; }
  .wrapper--header .site-header__logo{
    display: block;
    clear: both;
    margin-right: 20px; }
  .wrapper--header .site-header__logo img{
    height: auto;
    width: 100%; }
  .wrapper--header.compressed{
    height: 55px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .wrapper--header.compressed .site-header__logo{
    opacity: 1;
    transition: opacity .2s ease-in-out;
    overflow: hidden;
    float: left;
    margin-right: -60px; }
  .wrapper--header.compressed .site-header__logo img{
    width: 40%;
    transition: width .3s ease-in-out; }
  .wrapper--header.compressed #header .block-search input.form-text,
        .wrapper--header.compressed #header .block-views input.form-text{
    padding: .4em 1em;
    font-size: 14px; }
  .wrapper--header.compressed #header .block-search,
        .wrapper--header.compressed #header .block-views{
    right: 80px; }
  .wrapper--header.compressed #header a.loginpopup{
    margin-top: 8px; }
  #header .region-navigation{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    right: auto; }
  #header .block-search,
      #header .block-views{
    right: 20px;
    transition: none; }
  #header .block-search input.form-text,
        #header .block-views input.form-text{
    width: 120px !important; }
  #header .block-search.focus,
        #header .block-views.focus{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: auto;
    background: transparent;
    left: inherit;
    padding: 0;
    margin: 0; }
  #header a.loginpopup{
    top: 0;
    right: 2em; }
  .wrapper--main{
    padding-top: 105px; }
  .panel-display .column.right{
    padding: 0 0 20px 50px; }
  .panel-display .column.left{
    padding: 0 50px 20px 0; } }
