// Form Elements
//
// Styleguide 5.0

//
// Mixins
//

// Form
//
// Markup:
// <form class="ui form segment">
//   <p>Simple form wrapper</p>
// </form>
//
// Styleguide 5.1

// Text input
//
// Markup:
// <form class="ui form segment">
//   <input type="text" name="first-name" placeholder="First Name">
// </form>
//
// Styleguide 5.2

// Text area
//
// Markup:
// <form class="ui form segment">
//   <label>Your Message:</label>
//   <textarea></textarea>
// </form>
//
// Styleguide 5.3

// Submit
//
// Markup:
// <form class="ui form segment">
//   <input class="ui button" type="submit" value="Send" />
// </form>
//
// Styleguide 5.4

// Select List
//
// Markup:
// <form class="ui form segment">
//   <select class="ui search dropdown" type="submit" value="Send">
//      <option value="">Your answer</option>
//      <option value="Yes">Yes</option>
//      <option value="No">No</option>
//   </select>
// </form>
//
// Styleguide 5.5

@mixin form-container($margin: $form-input-container-margin) {
  @include cf;
  margin: $margin;
  width: 100%;
  float: none;
}

@mixin form-element($padding: $form-input-padding, $color: $form-input-font-color, $bg-color: $form-input-bg-color, $border-color: $form-input-border-color) {
  color: $color;
  background-color: $bg-color;
  padding: $padding;
  border: $border-color 1px solid;
  border-radius: $border-radius;
  &:focus,
  &:hover,
  &:active {
    box-shadow: none;
  }
  &:focus {
    border: 1px solid $form-input-active-color;
  }
  &.error {
    border: 1px solid $color-error;
  }
}

//**************************
// Support for compact forms
//**************************

.compact-form-label {
  left: 17px;
  z-index: 1;
  font-size: 100%;
}

//**********************
// No Semantic Fallbacks
//**********************

body:not(.semantic-ui) {
  form {
    input.form-submit {
      background: #eee;
      border: 1px solid #ccc;
      padding: 5px 10px 6px 10px;
      border-radius: 3px;
      transition: all .2s ease-in-out;
      margin-top: 5px;
      &:hover, &:focus {
        background: #666;
        color: white;
        border-color: #222;
      }
    }
    .description {
      font-size: 80%;
      color: $bear-lighten-dark;
      font-style: italic;
      padding: 0 10px;
      margin: 10px 0;
      border-left: dotted 1px #aaa;
      max-width: 600px;
    }
  }
  .ui.segment {
    box-shadow: none;
    border: 0;
    padding: 1em 0;
  }
  #breadcrumbs {
    .chevron {
      margin-right: 10px;
      &:before {
        content: ">";
        padding: 0 8px;
        color: $black;
      }
    }
  }
}

.ui.form {
  .form-item.labeled {
    padding-top: 1.2em;
    margin-bottom: 1em !important;
    position: relative;
    &:first-child {
      margin-top: -1.2em;
    }
    label {
      position: absolute;
      top: 2.3em;
      padding: 0;
      transition: all .2s ease-in-out;
      cursor: text;
      color: $grayer;
      &.active {
        top: 2px;
        font-size: 85%;
        color: $link-color;
        &.error {
          color: $red !important;
        }
      }
    }
    input {
      max-width: 30em;
      border-radius: 0;
      background: transparent;
      border: 0;
      border-bottom: 1px solid $grayer;
      padding: .7em  0;
      margin-bottom: .3em;
      -webkit-text-fill-color: transparent;
      &:focus,
      &.valued {
        background: transparent;
        -webkit-text-fill-color: $black;
      }
      &.error {
        border-bottom-color: $red;
        -webkit-text-fill-color: $black !important;
      }
    }
    .mt {
      width: 100%;
      position: relative;
      max-width: 30em;
      &:before, &:after 	{
        content: '';
        height: 2px;
        width: 0;
        bottom: 5px;
        position: absolute;
        background: $link-color;
        transition: 0.2s all ease-in-out;
      }
      &.error {
        &:before, &:after {
          background: $red;
        }
      }
      &:before {
        left: 50%;
      }
      &:after {
        right: 50%;
      }
      &.focus {
        &:before, &:after {
          width: 50%;
        }
      }
    }
  }
  input.ui.button[type="submit"] {
    margin-top: 0.5em;
  }
}

label {
  color: $grayer;
  padding: 0 0 5px 0;
  display: block;
  font-size: 90%;
}

.ui.dropdown {
  color: $off-black;
  .text {
    font-size: 14px;
  }
  .default.text {
    color: $grayer;
  }
}

.ui.checkbox,
.ui.radio.checkbox {
  margin-right: 15px;
  label {
    padding-left: 1.5em;
    color: $off-black;
  }
}

::placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: $gray;
  font-family: $body-text-font-family;
}
:focus::placeholder {
  opacity: .5;
}
