// Layout Elements
//
// Styleguide 3.0

// System Messages
//
// Markup:
// <div class="messages {$modifiers}">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
//
// .messages--success    - Signaling a sucesseful operation
// .messages--error      - Signaling an error
//
// Styleguide 3.2

// Dividers
//
// Markup:
// <hr>
// <div class="ui divider"></div>
//
// Styleguide 3.2

.wrapper {
  min-width: 320px;
}

.field-collection-view {
  margin: 0;
}

// fixes for logged-in users and IPE
.admin-menu {
	.wrapper--header {
		position: relative;
	}
	.wrapper--main {
		padding-top: 0;
	}
}

.panels-ipe {
	ul.panels-ipe-linkbar {
		padding: 0;
		margin: 0;
		li {
			display: inline;
			list-style-type: none;
		}
	}
}
