<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>Styleguide - Zivtech</title>
  <meta name="description" content="">
  <meta name="generator" content="kss-node" />

  <meta name="viewport" content="width=device-width">

  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="public/kss.css">
  <link rel="stylesheet" href="custom/style.css">
  <link rel="stylesheet" href="../semantic_ui/dist/semantic.css">
  <link rel="stylesheet" href="../../css/styles.css">
  <link rel="stylesheet" href="public/style.css">

</head>
<body class="semantic-ui"><div id="kss-wrapper">
  <div id="kss-nav">
    <header id="kss-header">
      <hgroup class="logo"><img src="./images/zivtech-logo.png" width="150px;" /><hgroup>
    </header>
    <aside>
      <nav><ul>
        <li><a href="index.html">Overview</a></li>
        {{#eachRoot}}
          <li>{{reference}}: <a href="section-{{reference}}.html">{{header}}</a></li>
        {{/eachRoot}}
      </ul></nav>
    </aside>
  </div>
  <div role="main" id="kss-main">
    <article id="kss-content">
      {{#if overview}}
        {{html overview}}
      {{else}}

        {{!
          Find each section, in order.
          If there's no markup or modifiers supplied, use a Markdown-only
          layout instead.

          The "root" element comes first in this loop, and can be detected using
          the "#whenDepth 1" block as seen below.
        }}
        {{#eachSection rootNumber}}
          {{#whenDepth 1}}
            <h1 class="kss-title"><span class="kss-ref">{{ reference }}</span> - {{ header }}</h1>
          {{else}}
           <section class="kss-depth-{{ refDepth }}">
            <h2 class="kss-title"><span class="kss-ref">{{ reference }}</span> - {{ header }}</h1>
          {{/whenDepth}}
            {{#ifAny markup modifiers}}
                <div class="kss-box">{{html description}}</div>
                <table class="kss-mod-list">
                  <!-- <tr class="kss-mod-desc-group">
                    <td class="kss-mod-desc"><p>Default styling</p></td>
                    <td class="kss-mod-name"></td>
                  </tr> -->
                  <tr class="kss-mod-example">
                    <td colspan="2">{{modifierMarkup}}</td>
                  </tr>
                {{#eachModifier}}
                  <tr class="kss-mod-desc-group">
                    <td class="kss-mod-desc">{{html description}}</td>
                    <td class="kss-mod-name"><p><span class="className">{{name}}</span></p></td>
                  </tr>
                  <tr class="kss-mod-example">
                    <td colspan="2">{{modifierMarkup}}</td>
                  </tr>
                {{/eachModifier}}
                </table>
                <div class="kss-markup">
                  <pre class="prettyprint lang-html">{{markup}}</pre>
                </div>
            {{else}}
                {{#if description}}
                  {{html description}}
                {{/if}}
            {{/ifAny}}
          {{#whenDepth 1}} {{else}}
            </section>
          {{/whenDepth}}
        {{/eachSection}}
      {{/if}}
    </article>
  </div>
  <footer>
    {{#if argv.xdemo}}<a href="http://github.com/hughsk/kss-node"><img id="kss-github" style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub"></a>{{/if}}
  </footer>
  <!-- SCRIPTS -->
  <script src="public/kss.js"></script>
  <script src="public/prettify.js"></script>
  <script src="js/jquery-1.7.min.js"></script>
  <script src="../semantic_ui/dist/semantic.js"></script>
  <script src="js/index.js"></script>
  
  <script>
    $(document).ready(function(){
      var sidebarAdjust = function() {
        // Match footer/body height
        var height = Math.max($(window).height(), $('#kss-main').height());

        if ($(window).width() <= 768) {
          $('#kss-main, #kss-nav').height('auto');
        } else {
          $('#kss-main, #kss-nav').height(height);
        }
      };

      $(window).resize(sidebarAdjust);
      $(window).scroll(sidebarAdjust);
      sidebarAdjust();

      // Ensure code blocks are highlighted properly...
      $('pre>code').addClass('prettyprint');
      prettyPrint();

    });
  </script>
</div></body>
</html>