.header {
  .banner {
    height: 195px;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-x;

    @include media-tablet {
      height: 100px;
    }

    .navbar-default {
      .navbar-toggle {
        margin-top: 34px;
      }
    }

    h1 {
      line-height: 140px;
      font-size: 80px;
      font-weight: 300;
      color: white;

      @include media-tablet {
        line-height: 60px;
        font-size: 40px;
      }
    }
  }

  .region-sidebar-first {
    min-height: 0;
    padding: 0;

    ul.menu {
      font-size: 15px;
      list-style: none;
      padding: 0;
      text-align: center;

      li {
        @include media-tablet-and-bigger {
          display: inline-block;
        }

        a {
          padding-top: 5px;
          padding-bottom: 5px;
        }

        &.active {
          text-decoration: none;
          background-color: #eee;

          a {
            color: #04b7ff;
          }
        }
      }
    }
  }
}
