body {
  color: #003644;
  font-family: $sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;

  .main-content {
    .breadcrumb {
      background-color: initial;
      padding: 0;

      > li + li:before {
        content: '\f105';
        font-family: 'FontAwesome';
      }
    }

    .content-item {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
