.main-content {

  .tiles {

    .tile-list {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      padding: 2em 1em 1em 1em;

      .tile {
        width: 100%;
        margin-bottom: 40px;

        @include media-tablet-and-bigger {
          width: calc(50% - 20px);
          margin-right: 40px;

          &:nth-child(2n) {
            margin-right: 0;
          }
        }

        @include media-desktop-and-bigger {
          width: calc(33.333333% - 27px);
          margin-right: 40px;

          &:nth-child(2n) {
            margin-right: 40px;
          }

          &:nth-child(3n) {
            margin-right: 0;
          }
        }

        a {
          display: block;
          color: #003644;

          .wrapper {
            position: relative;
            color: #fff;
            background-color: #052c67;
            height: 24rem;

            .front,
            .back {
              position: absolute;
              top: 50%;
              left: 0;
              width: 100%;
              padding: 0 20px 0 20px;
              cursor: pointer;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);

              h3 {
                font-weight: 300;
                margin-top: 10px;
              }
            }

            .front {
              @include transition(opacity 0.4s ease-in-out);

              h3 {
                font-size: 30px;
                line-height: 36px;
              }
            }

            .back {
              visibility: hidden;
              opacity: 0;
              @include transition(opacity 0.4s ease-in-out);
            }

            &:hover {
              .front {
                visibility: hidden;
                opacity: 0;
              }

              .back {
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
