.main-content {

  .content-top,
  .content-btm {

    p {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .asset {
      background-color: initial;
      border-style: none;
      padding: 0;

      .content {
        border: none;

        .description {
          display: none;
        }
      }
    }

    .blue-callout {
      background-color: #CBECFF;
      padding: 15px 25px;

      p {
        &:first-of-type {
          margin-top: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  
}
