.region-navigation {
  left: 160px;
  transition: left .3s ease-in-out;
  nav.main-menu,
  .block__system-main-menu {
    outline: 0;
    margin: 0;
    .nolink {
      cursor: pointer;
    }
    ul.menu {
      padding: 0;
      margin: 5px 0;
    }
    .main-menu__link,
    .menu .parent .main-menu__link {
      font-family: 'Droid Sans', sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      padding: 8px 12px;
      transition: all .2s ease-in-out;
      border-radius: 6px;
      font-size: 14px;
      &:hover,
      &:focus,
      &.active {
        background: $black;
        color: white;
        text-decoration: none;
      }
    }
    .main-menu--level-one {
      > li {
        padding: 20px 0;
        &:hover {
          .main-menu--level-two {
            top: 60px;
            opacity: .9;
          }
        }
      }
      li.parent {
        &:after {
          content: "";
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid dark;
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          bottom: 0;
          transition: all .2s ease-in-out;
          opacity: 0;
        }
        &:hover {
          &:after {
            opacity: .8;
            bottom: 10px;
          }
        }
        ul.menu {
          border-radius: 8px;
          background: $off-black;
          border: 0;
          li {
            margin-bottom: 8px;
            padding: 0 10px;
            display: block;
            a {
              @include link-colors(white, $hover: $white, $active: $white, $focus: $white);
              padding: 5px 0;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
          .main-menu__link {
            text-transform: initial;
            margin-bottom: 0;
            &:hover,
            &:focus,
            &.active {
              background: transparent;
              text-decoration: underline;
            }
            &:after {
              display: none;
            }
          }
        }
      }
    }
    .main-menu--level-two {
      top: 60px;
      transition: all .2s ease-in-out;
      opacity: 0;
      a {
        position: relative;
      }
      li.parent > a:after,
      li.parent:hover > a:after {
        content: "";
        height: 0;
        width: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid white;
        @include align(v);
        right: -5px;
        bottom: 0;
        left: inherit;
        margin: 3px 0 0 0;
        display: inline-block !important;
        opacity: 1 !important;
      }
      li.parent:after {
        display: none;
      }
    }
    .main-menu--level-three {
      top: -10px;
    }
  }
}
.compressed {
  .region-navigation {
    left: 90px;
  }
}

//***********************
// Regular responsive NAV
//***********************
#mobile-nav {
  position: absolute;
  right: 0;
  top: -15px;
  &.hidden {
    display: none;
  }
  #mobile-button {
    &.on {
      span {
        background: transparent;
        &:before,
        &:after {
          top: 0;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

// Extra SIDR handling
body.sidr-open {
  #header #sidr-wrapper-0 {
    margin-left: 0;
    position: relative;
    left: auto;
    top: auto;
  }
}
.sidr-animating {
  .wrapper--header {
    position: absolute;
  }
}

.region-navigation .main-menu,
.region-navigation .block__system-main-menu {
  &.mobile {
    ul.main-menu--level-one {
      position: absolute;
      top: 25px;
      right: 15px;
      background: white;
      border-radius: 4px;
      width: 200px !important;
      padding: 10px !important;
      box-shadow: 0 0 5px #999;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      @include bear-element-invisible;
      &:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid dark;
        position: absolute;
        right: 7px;
        top: -8px;
      }
      li {
        clear: both;
        display: block;
        padding: 0;
        &:after {
          display: none !important;
        }
        a {
          background: transparent !important;
          transition: none;
          &:hover,
          &:focus,
          &.active {
            color: blue !important;
            text-decoration: none;
          }
        }
      }
      &.show {
        @include bear-element-invisible-off;
        position: absolute !important;
        opacity: 1;
        overflow: visible;
      }
      ul.main-menu--level-two,
      .parent:hover .menu {
        @include bear-element-invisible-off;
        position: relative;
        border: 0;
        top: 0;
        opacity: 1;
        min-width: auto;
        padding: 0 0 0 25px;
        background: transparent;
        li {
          a {
            text-transform: none;
            color: $black;
          }
        }
      }
    }
  }
}

//******
// Pager
//******

.pager-wrapper {
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 50px;
  margin: 10px 0 0 0;
}
.ui.pagination.menu {
  @include align(h);
}

//************
// Breadcrumbs
//************

nav.ui.breadcrumb {
  padding: 20px 0;
  color: $off-black;
  a, span, i {
    font-size: 90%;
  }
  .divider,
  span {
    color: $off-black;
  }
  a {
    @include link-colors($blue, $hover: $drenched-blue, $active: $white, $focus: $white);
  }
  i:last-child {
    display: none;
  }
}

//************
// Local Tasks
//************

#primary-tabs,
#secondary-tabs {
  margin: 1em 0;
  .reset-appearance {
    @include element-invisible;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  a {
    margin: 0 1em 0 0;
    &.active {
      color: $link-color-active !important;
    }
  }
}
